<!-- wp:template-part {"slug":"header", "skipWrapper": true} /-->

<main>
  <div class="container pb-12 pt-12">
    <!-- wp:query {"queryId":13,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
    <div class="wp-block-query gap-12 flex flex-col">
      <!-- wp:post-template {"className":"flex flex-row flex-wrap gap-8","layout":{"type":"default","columnCount":3}} -->
      <!-- wp:webentor/l-post-card {"name":"webentor/l-post-card"} /-->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination -->
      <!-- wp:query-pagination-previous /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph {"placeholder":"Pridajte text alebo bloky, ktoré sa zobrazia, keď pre dopyt neexistujú žiadne výsledky."} -->
      <p>Nenašli sa žiadne články.</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
  </div>
</main>

<!-- wp:template-part {"slug":"footer", "skipWrapper": true} /-->
