<!-- wp:template-part {"slug":"header", "skipWrapper": true} /-->

<main>
  <!-- wp:webentor/l-section {"name":"webentor/l-section","backgroundColor":"grey-800"} -->
  <!-- wp:webentor/l-post-title {"name":"webentor/l-post-title"} /-->
  <!-- /wp:webentor/l-section -->

  <!-- wp:webentor/l-section {"name":"webentor/l-section"} -->
  <!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"default"}, "className":"flex flex-col gap-6"} /-->
  <!-- /wp:webentor/l-section -->
</main>

<!-- wp:template-part {"slug":"footer", "skipWrapper": true} /-->
